<h2>Weather forecast for every city</h2>
<input type="text" (keyup)="searchTerm.next($event)" placeholder="Search for City" list="dynmicUserIds" />
<datalist id="dynmicUserIds">
	<option *ngFor="let item of cities" [value]="item.name">{{item.state}} {{item.country}}</option>
</datalist>
<label for="weather-modes">Choose mode:</label>
<select name="weather-modes" id="weather-modes" [(ngModel)]="mode" (change)="changeMode()">
	<option *ngFor="let mode of modeOptions" [ngValue]="mode">{{mode}}</option>
</select>
&nbsp;
<button (click)="searchWeather(cityObj)">Search weather</button>
<br>
<br>
<!-- TODO: Move this in a separate component that can be reused -->
<section *ngIf="tableRows.length > 0; else noDataBlock">
	<ol class="collection collection-container">
		<!-- The first list item is the header of the table -->
		<li class="item item-container">
			<strong>
				<div class="attribute" data-name="#">{{headers[0]}}</div>
			</strong>
			<!-- Enclose semantically similar attributes as a div hierarchy -->
			<div class="attribute-container part-information">
				<div class="attribute-container part-temp">
					<div class="attribute">{{headers[1]}}</div>
					<div class="attribute">{{headers[2]}}</div>
				</div>
				<div class="attribute-container">
					<div class="attribute">{{headers[3]}}</div>
					<div class="attribute">{{headers[4]}}</div>
				</div>
			</div>
			<div class="attribute">{{headers[5]}}</div>
			<div class="attribute">{{headers[6]}}</div>
			<div class="attribute">{{headers[7]}}</div>
			<div class="attribute">{{headers[8]}}</div>
			<div class="attribute">{{headers[9]}}</div>
		</li>
		<!-- The rest of the items in the list are the actual data -->
		<li class="item item-container" *ngFor="let data of tableRows; let i = index">
			<div class="attribute" data-name="#">{{i+1}}</div>
			<div class="attribute-container part-information">
				<div class="attribute-container part-temp">
					<div class="attribute">{{data.temp}}</div>
					<div class="attribute">{{data.feels_like}}</div>
				</div>
				<div class="attribute-container">
					<div class="attribute">{{data.wind_deg}}</div>
					<div class="attribute">{{data.wind_speed}}</div>
				</div>
			</div>
			<div class="attribute">{{data.dt}}</div>
			<div class="attribute">{{data.clouds}}</div>
			<div class="attribute">{{data.dew_point}}</div>
			<div class="attribute">{{data.humidity}}</div>
			<div class="attribute">{{data.pop}}</div>
		</li>
	</ol>
</section>
<ng-template #noDataBlock>No data has been loaded. </ng-template>